.App {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.notes-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    max-height: 800px;
}
